Repository sergeyklay/cityhive: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, uv-lock-check, no-init-logic

ruff-format:
  name: Ruff Format
  entry: uv run ruff format
  args:
  - --target-version
  - py312
  language: system
  pass_filenames: false

ruff:
  name: Ruff Lint
  entry: uv run ruff check
  args:
  - --target-version
  - py312
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

no-init-logic:
  name: Disallow logic in __init__.py
  entry: uv run python scripts/check_no_classes_in_init.py
  language: system
  pass_filenames: true

Improve Context7 usage by Cursor
  .cursor/mcp.json
  .cursor/rules/always-enable-context7.mdc
Due: none

Add CodeRabbit support
  .coderabbit.yaml
Due: none

Add CodeRabbit badge
  README.md
Due: none

Update AI Integration documentation
  docs/ai-integration.md
Due: none

Fix misspelling
  docs/ai-integration.md
Due: none

Mention .coderabbit.yaml
  docs/ai-integration.md
Due: none

Reformat MCP section
  docs/ai-integration.md
Due: none

Add log level support and update environment example
  .env.example
  cityhive/infrastructure/config.py
  cityhive/infrastructure/logging.py
  tests/unit/infrastructure/test_config.py
  tests/unit/infrastructure/test_logging.py
Due: ruff-format, ruff

Enhance log level configuration to support string values and validation
  .env.example
  cityhive/infrastructure/logging.py
  tests/unit/infrastructure/test_logging.py
Due: ruff-format, ruff

Remove ovious test
  tests/unit/infrastructure/test_logging.py
Due: ruff-format, ruff

Add new tests
  tests/unit/domain/health/test_exceptions.py
  tests/unit/domain/hive/test_exceptions.py
  tests/unit/domain/user/test_exceptions.py
Due: ruff-format, ruff

Implement log level validation to accept both string names and integer values
  cityhive/infrastructure/config.py
Due: ruff-format, ruff

Strip whitespace from LOG_LEVEL environment variable before processing
  cityhive/infrastructure/logging.py
Due: ruff-format, ruff

Add tests for sanitize_numeric_field function
  tests/unit/app/helpers/test_validation.py
Due: ruff-format, ruff

Refactor tests for sanitize_numeric_field to handle special float strings individually
  tests/unit/app/helpers/test_validation.py
Due: ruff-format, ruff

Introduce parse_log_level function for improved validation and parsing of string and integer inputs
  cityhive/infrastructure/config.py
  cityhive/infrastructure/logging.py
Due: ruff-format, ruff

Provide ability to create inspections
  cityhive/app/app.py
  cityhive/app/routes/inspections.py
  cityhive/app/routes/main.py
  cityhive/app/views/inspections.py
  cityhive/domain/inspection/__init__.py
  cityhive/domain/inspection/exceptions.py
  cityhive/domain/inspection/repository.py
  cityhive/domain/inspection/service.py
  cityhive/infrastructure/typedefs.py
  docs/ai-integration.md
  tests/unit/app/routes/test_main.py
  tests/unit/app/views/test_inspections.py
  tests/unit/domain/inspection/__init__.py
  tests/unit/domain/inspection/test_exceptions.py
  tests/unit/domain/inspection/test_input_validation.py
  tests/unit/domain/inspection/test_repository.py
  tests/unit/domain/inspection/test_service.py
Due: ruff-format, ruff, no-init-logic

Update AI integration documentation to reflect personal development process
  docs/ai-integration.md
Due: none

Update test for inspection creation to use dynamic future date calculation
  tests/unit/domain/inspection/test_service.py
Due: ruff-format, ruff

Code cleanup
  cityhive/domain/health/exceptions.py
  cityhive/domain/hive/exceptions.py
  cityhive/domain/inspection/exceptions.py
  cityhive/domain/user/exceptions.py
Due: ruff-format, ruff

Cleanup debug logs
  cityhive/domain/hive/repository.py
  cityhive/domain/inspection/repository.py
  cityhive/domain/inspection/service.py
  cityhive/domain/user/repository.py
  cityhive/domain/user/service.py
Due: ruff-format, ruff

Simplify create_inspection()
  cityhive/app/views/inspections.py
Due: ruff-format, ruff

Code cleanup
  cityhive/app/app.py
  cityhive/domain/hive/service.py
  cityhive/domain/inspection/service.py
  cityhive/domain/user/service.py
Due: ruff-format, ruff

Add DatabaseConflictError exception handling for inspection creation
  cityhive/app/views/inspections.py
  cityhive/domain/inspection/__init__.py
  cityhive/domain/inspection/exceptions.py
  cityhive/domain/inspection/service.py
Due: ruff-format, ruff, no-init-logic

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  uv-lock-check: any of: ^(.*pyproject\.toml|uv\.lock)$
  no-init-logic: any of: ^(.*/)?__init__.py$ and \.py$
